.nav-list {
    list-style: none;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.nav-list-item {
   display: inline-block;
    margin-right: 72px;
    margin: 0 36px;
    font-family:  Monserrat;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

    color: #FF0000;

}

.container-main {
    background: rgba(0, 0, 0, 0.0001);
text-align: center;

}


.main-title {
    width: 774px;
    height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 38px;
    margin-left: auto;
    margin-right: auto;

    color: #373737;
}

.main-text {
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    margin-left: auto;
    margin-right: auto;
}


.start-btn {
    margin-top: 66px;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #FF0000;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor:pointer
}

.copy-right {
    float: right;
    margin-top: 82px;
    width: 462px;
    height: 39px;
    left: 608px;
    top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    margin-right: 105px;

    color: #373737;
}


A{
    text-decoration: none;
}