
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1900px;
    height: 70px;
    background: #313131;
}


.navbar-company-logo_text {
    background: rgba(0, 0, 0, 0.0001);
}

.navbar-company-img {
    padding-left: 27px;
    padding-right: 27px;
}


.navbar-list{
    list-style: none;
    display: flex;
   align-items: center;
}

.navbar-list li a {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
padding-left: 15px;
    padding-right: 15px;
}

.search {
    padding-left: 26px;
    padding-right: 26px;
    width: 68px;
}

.search-block {
    display: flex;
    align-items: center;
    width: 68px;
    height: 70px;
    background: #000000;
}


.header {
background-image:linear-gradient(#424242, rgba(47, 49, 49, 0)), url("../img/header-bg.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1900px;
    height: 369px;
    background-color: #313131;
    flex-direction: column;

}

.header-title {
    display: flex;
   justify-content: center;
    width: 637px;
    height: 32px;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-button {
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 55px;
}

.subscribe-btn {
    width: 170px;
    height: 55px;
    background: #89CA62;
    border-radius: 10px;
    border: 0px solid white;
    font-size: 18px;
}


.best-btn{
    width: 170px;
    height: 55px;
    background: #14B9D5;
    border-radius: 10px;
    border: 0px solid white;
    font-size: 18px;
}

.container {
    width: 1900px;
    height: 1030px;
    background: #F2F2F2;
}



.most-popular-posts-title {
    display: flex;
   justify-content: center;
    font-size: 27px;
    text-transform: uppercase;
    line-height: 37px;
    background: #F2F2F2;
    color: #18B4CF;
}

.posts-gallery {
    display: flex;
    justify-content: space-between;
    margin: 0 370px;
}

.posts-title {
    display: flex;
    justify-content: center;
    text-align: center;

    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    padding-bottom: 25px;
}

.most-popular-posts-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);

}


.popular-clients {
display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1fr;
    text-align: center;


    width: 1900px;
    height: 588px;
    background-image: url("../img/parallax-bg.jpeg");
    background-size: cover;
    background-position: center;
}

.popular-clients-title {
    width: 496px;
    height: 44px;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 706px;
    margin-top: 106px;
}


.blue-line {
    display: grid;
    text-align: center;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin-top: 60px;
    border: none;
}



.brands {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;

}

.top-rated-title {
    display: flex;
   justify-content: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}

.top-rated-blue-headline {
    display: grid;
    width: 1903px;
}

.top-rated-gallery {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}


.hot-news-container {
    width: 1902px;
    height: 1683px;
    background: rgba(0, 0, 0, 0.0001);
}

.hot-news-blue-headline {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}


.news-articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 1683px;
    background: rgba(0, 0, 0, 0.0001);
    margin-left: 373px;

}


.news-article-prophecy {
    display: flex;
   text-align: right;

    width: 856px;
    height: 259px;
    margin-right: 35px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-article-nebula {

    width: 277px;
    height: 258px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}


.news-article-western {
    text-align: right;
    width: 554px;
    height: 418px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);

}

.news-article-maldives {
    text-align: right;
    width: 554px;
    height: 418px;

    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-article-tenerife {
    text-align: right;
    width: 554px;
    height: 418px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-article-gb {
    text-align: right;
    width: 554px;
    height: 418px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-article-ireland {
    width: 277px;
    height: 258px;
    background: #F9F7F7;

}



.news-article-spain {
    display: flex;
    text-align: right;

    width: 856px;
    height: 259px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}











.news-article-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin-left: 31px;
    margin-right: 24px;

}

.news-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin-right: 24px;
}



.title-middle {
    width: 223px;
    height: 23px;

}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1929px;
    height: 80px;
    background: #000000;
}

.rights {
    font-size: 13px;
    line-height: 13px;
    text-align: right;
     padding-right: 559px;
    color: #FFFFFF;

}



a {
    text-decoration: none;
    color: #FFFFFF;
}