* {
    font-family: 'Ubuntu', sans-serif;
}


.page-background {
    background-image: url("../img/background.png");
    background-size: cover;
    min-height: 100vh;
}


.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
}

.logotype-link {
    font-weight: bold;
    font-size: 22px;
    margin-left: 79px;
}

.logotype-link:hover {
    color: #236D47;

}

.menu-icons {
    display: flex;
    align-items: center;
}

.menu-icon :hover {
    fill: #236D47;
}

.menu-icons-link {
   padding-right: 25px;
}

.welcome-text {
    font-size: 14px;
    color: white;
   padding-right: 80px;
}

.welcome-text::before {
    content: '';
    border: 1px solid white;
    height: 19px;
    margin-right: 27px;
    opacity: 0.5;
}


.Welcom-Log-In:hover,.Welcome-Sign-Up:hover {
    color: #236D47;
}


.sign-page {
    height: calc(100vh - 3.625rem);
    display: flex;
    align-items: center;
}

.sign-page-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 444px;
    height: 584px;
    margin: 0 auto;
    background: #fff;
}

.page-box-top {
    display: flex;
    width: 444px;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 31px;
}

.page-box-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
margin-left: 61px;
}

.page-box-link {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #3cb878;
    margin-right: 59px;

}


.page-box-title::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;

    background: #3CB878;
}

.page-box-link:hover {
    text-decoration: underline;
    color: #01813F;
}


.page-box-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 60px;

}

.btn-facebook {
    display: flex;
    align-items: center;
    width: 160px;
    height: 48px;
    background: #305DB8;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
}

.box-btn-text {
    margin-left: 37px;
}


.btn-google {
    display:flex;
    align-items: center;
    width: 160px;
    background: #DF4A32;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
}


.box-button-logo {
    padding-left: 5px;
}

.btn-facebook:hover{
    background: #022263;
}

.btn-google:hover{
    background: #AB1F09;
}

.btn-facebook:focus {
    outline: none;
}

.btn-google:focus {
    outline: none;
}

.box-button-logo::after {
    content: '';
    position: absolute;
    width: 0.0625rem;
    height: 1.75rem;
    left: 3.0625rem;
    top: 0.625rem;
    background: #0A162F;
    opacity: 0.1;

}

.page-box-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
   margin-left: 215px;
    margin-right: 215px;
    margin-top: 31px;
}



.page-box-text::before {
    position: absolute;
    left: 59px;
    top: 9.5rem;
    content: '';
    width: 148px;
    border: 0.0625rem solid #F2F2F2;

}


.page-box-text::after {
    position: absolute;
    right: 59px;
    top: 9.5rem;
    content: '';
    width: 148px;
    border: 0.0625rem solid #F2F2F2;
}




.page-box-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
    margin-left: 60px;
}

.box-form-input {
    box-sizing: border-box;
    width: 324px;
    height: 46px;
    border: 0.0625rem solid #F2F2F2;
    border-radius: 0.25rem;
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;

}


.box-form-input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.box-form-input:focus {
    box-shadow: 0rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.22);
    outline: none;
}


.box-form-label {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.form-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.form-checkbox:checked~.form-checkbox-btn {
    background: #fff;
}

.form-checkbox:checked~.form-checkbox-btn>.checkbox-btn-checkmark {
    width: 0.4375rem;
    height: 0.8125rem;
    border: 0.125rem solid transparent;
    border-top-color: #3CB878;
    border-left-color: #3CB878;
    transform: rotate(-147deg) translate(-0.25rem, 0.1875rem);
}

.form-checkbox-btn {
    width: 1.25rem;
    height: 1.25rem;
    border: 0.0625rem solid #F2F2F2;
    background: #fff;
    margin-right: 0.5rem;
}

.checbox-link {
    padding: 0 0.125rem;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #3CB878;

}

.checbox-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.box-form-submit-btn {
    margin-top: 20px;
    width: 324px;
    height: 46px;
    background: #3CB878;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
}

.box-form-submit-btn:hover {
    background: #01813F;
}

.box-form-submit-btn:focus {
    outline: none;
}


@media (min-width: 1200px) and (max-width: 1366px) {
    html {font-size: 14px;
    }
}

a {
text-decoration: none;
    color: white;
}