* {
    font-family: 'Roboto', sans-serif;
}


.wrapper {
    background-image: url("../img/background-1.png");
    background-repeat: no-repeat;
    width: 1350px;
    height: 768px;
    margin: 0 auto;


}


.container {

    width: 1030px;
    height:124px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}



.header-logo-link {
    display: flex;
    width: 240px;
    height: 51px;
  padding-top: 51px;
}

.header-logo {
    padding-right: 8px;
}

.header-logo-img {
    width: 53px;
    height: 47px;
}



.header-logo-milan {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.header-logo-holidays {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 2px;
}

.header-logo-link:hover {
    color: #F26522;
}

.header-logo-img:hover {
    color: #F26522;
}


.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 61px;
    padding-top: 51px;
}

.contacts-link {
    font-size: 18px;
}



.contacts-link:hover {
  color: #F26522;
}


.container-main {
    width: 1030px;
    height: 560px;
    margin: auto;
}


.tours-gallery {

}

.tours-gallery-top {
    display: flex;
    width: 1030px;
    height: 261px;
}


.tours-details {

}

.tours-card {
    height: 261px;
}


.details-from {
    font-size: 10px;
    line-height: 10px;
}

.currency {
    font-size: 20px;
    line-height: 20px;
}

.number {
    font-size: 20px;
    line-height: 20px;
}

.view-details {
    display: block;
    position: absolute;
    font-size: 14px;
    line-height: 14px;
    margin-left: 164px;
    top: 30px;
}

.view-details:after {
    content: ">";
    clip-path: polygon(0 0, 100% 54%, 0 100%);
    color: #FFFFFF;
    background-color: #FFFFFF;
    margin-left: 16px;

}

.tours-gallery-bottom {
    display: flex;
    width: 1030px;
    height: 261px;
    margin-top: 37px;

}

.tours-gallery-link {
    position: relative;
    width: 300px;
    margin-right: 61px;
}

.details-position {
    position: absolute;
    width: 300px;
    height: 55px;
    bottom: 40px;
    left: 2px;
    color: rgba(0, 0, 0, 0);


}

.details-from {
    margin-left: 16px;

}

.euro {
    margin-top: 8px;
    margin-left: 16px;

}


.tours-details :hover {
    background-color: #F26522;
}

.details-position :hover {
   color: #FFFFFF;

}

.tours-gallery-link :hover .tours-title {
   color: #F26522;
}
.tours-details-number2 :hover {
    background-color: #F26522;
}


.tours-title {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;

}





.footer {
    display: flex;
    justify-content: center;
    padding-top: 49px;
}

.copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}




a {
    text-decoration: none;
    color: #FFFFFF;
}
