.container {
    width: 1283px;
    margin: auto;
    background: rgba(0, 0, 0, 0.0001);
}


.header-logo {
    width: 334px;
    height: 79px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;

}
.color-text {
    color: #000000;
}

.text-blue {
color: dodgerblue;
}

.header-menu {
    width: 1283px;
    height: 72px;
    left: 0px;
    top: 117px;

    background: #35444F;

}


.header-menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.header-menu li:hover {
    background: #222F3A;
}

.header-menu li a {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    height: 69px;
    margin: 0 32px;
}
.header-menu-item {
    border-left: 1px solid white;
}



.container-main {
    display: flex;
    width: 1480px;
    height: 829px;
    margin: auto;
    margin-top: 50px;
}

.sidebar {
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
    background: rgba(0, 0, 0, 0.0001);
    margin-left: 98px;
    margin-right: 50px;
}

.sidebar-list {
    list-style: none;
    font-size: 27px;

}

.sidebar li a {
    display: flex;
    margin-top: 42px;
}



.main-text {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;

}

.main-text-image {
    width: 320px;
    height: 381px;
    padding-left: 297px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.main-article-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #2C2C2C;
    padding-top: 34px;

}



.container-footer {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 69px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 300px;

    background: rgba(99, 105, 110, 0.48);
}

.footer-menu-list {
    display: flex;
   align-items: center;
    list-style: none;
}




.footer-copy-right {
    display: flex;

    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    width: 190px;
    height: 69px;


}



.footer-menu-list li a {
    font-family: Roboto;
    font-style:normal;
    font-weight: normal;
    font-size: 28px;
    padding-right: 40px;
    line-height: 28px;
    color: #0C1927;
}


a {
    text-decoration: none;
    color: #495863;
}
